[Unit]
Description=Servicio diario para enviar CSV por FTP
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/data-send.py
Restart=always
RestartSec=10
User=root
WorkingDirectory=/usr/local/bin/

[Install]
WantedBy=multi-user.target